<% title "Lista de Registros" %>
<%= will_paginate @registros %>
<table class="index">
  <tr>
    <th>Operador</th>
    <th>Fecha</th>
    <th>Turno</th>
    <th>Llamada</th>
    <th>Internet</th>
    <th>Impre </th>
    <th>Claro</th>
    <th>Movistar</th>
    <th>Lugar</th>
  </tr>
  <% for registro in @registros %>
    <tr>
      <td><%= registro.user.nombre %></td>
      <td><%= registro.fecha %></td>
      <td><%= registro.turno.descripcion[0,1] %></td>
      <td><%= registro.llamada %></td>
      <td><%= registro.ciber %></td>
      <td><%= registro.impresion %></td>
      <td><%= registro.claro %></td>
      <td><%= registro.movistar %></td>
      <td><%= registro.lugar.nombre %></td>
      <%= raw admin_reg(registro) %>
    </tr>
  <% end %>
</table>

<p><%= link_to "Añadir registro", new_registro_path %></p>
