<% title "Mostrar registro" %>

  <table id="show">
  <tr><td><h3>Datos generales</h3><td><strong>Operador:</strong>
  <%= @registro.user.nombre %>
  </td><td><strong>Lugar:</strong>
  <%= @registro.lugar.nombre %>
</td><td>
  <strong>Fecha:</strong>
  <%= @registro.fecha %>


  </td>
  <td><strong>Turno:</strong>
  <%= @registro.turno.descripcion %></td></tr>

  <tr><td><h3>Ventas directas</h3></td>
  <td><strong>Llamadas:</strong>
  <%= @registro.llamada %>


  </td>
  <td><strong>Internet:</strong>
  <%= @registro.ciber %>


  </td>
  <td><strong>Impresion:</strong>
  <%= @registro.impresion %></td></tr>

  <tr><td><h3>Recargas</h3>
  </td>
  <td><strong>Claro:</strong>
  <%= @registro.claro %>


  </td>
  <td><strong>Movistar:</strong>
  <%= @registro.movistar %></td></tr>
</table>


  


  <%= link_to "Cambiar", edit_registro_path(@registro) %> |
  <%= link_to "Eliminar", @registro, :confirm => '¿Está usted seguro?', :method => :delete %> |
  <%= link_to "Ver lista", registros_path %>

