<% title "Estadísticas de Registros" %>
   <% if @discri < 5 then%>
      <%= raw tabla_suma %>
   <% elsif @discri == 5 %>
      <h1>Informe del día <%= @x %></h1>
      <table id="show">
      <tr><th>Centro</th><th>Ingresos regulares</th><th>Recargas Claro</th><th>Recarga Movistar</th></tr>
      
      <% @stats.each do |z| %>
        <tr>
        <% z.each do |w|%>
          <td><%= w %></td>
        <% end %>
     </tr>
      <% end %>

    </table>
  <% elsif @discri==6 %>
	<p><h5><%= @stats[0] %></h5>
    <table id="show">
    <tr><th>Centro</th><th>Ingresos regulares</th><th>Recargas Claro</th><th>Recarga Movistar</th></tr>
    
     <% @stats[1].each do |z| %>
     <tr>
      <% z.each do |z1|%>
      <td><%= z1 %></td>
       <% end %>
     </tr>
     <% end %>
    
   </table>
<% else %>
 Error <%= @discri %>
<% end %>


