<% title "Estadísticas de Registros" %>
   <% if @discri < 5 then%>
      <%= raw tabla_suma %>
   <% elsif @discri == 5 %>
      <h1>Informe del día <%= @x %></h1>
      <table id="show">
      <tr><th>Centro</th><th>Ingresos regulares</th><th>Recargas Claro</th><th>Recarga Movistar</th></tr>
      <tr>
      <% @stats.each do |z| %>
        <% z.each do |w|%>
          <td><%= w %></td>
        <% end %>
      <% end %>
     </tr>
    </table>
  <% elsif @discri==6 %>
    <table >
	<b><%= @stats[0] %><br />
    <tr><th>Centro</th><th>Ingresos regulares</th><th>Recargas Claro</th><th>Recarga Movistar</th></tr>
    <tr><td></td>
     <% @stats[1..-1].each do |z| %>
    
      <td><%= z %></td>

     <% end %>
    </tr>
   </table>
<% else %>
 Error <%= @discri %>
<% end %>


